@import '../styles/media.scss';
.pages-header{
  height: 20vh;
  display: flex;
  flex-direction: column;
  position: initial;
  @include desktop{
    height: 25vh;
  }

  &__background{
    height: 100%;
    background: #dcdcdc;
    position: relative;
    background: url('../images/geometry.jpg');
    background-size: cover;
   
  }
  &__headline{
    width: 60%;
    height: 5rem;
    align-self: center;
    text-align: center;
  
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-20%);
    background: #dcdcdc;
   @include desktop{
    width: 30%;
   }
  
  }
  &__content{
    padding: 1rem;
    padding-top: 4rem;
  }
}
.about-header__content{
  height: 70vh;
  padding: 8rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include desktop{
    height: 70vh;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    padding: 15rem 0 15rem 0;
  }

}