@import '../styles/media.scss';
.pages-header{
  height: 20vh;
  display: flex;
  flex-direction: column;
  position: initial;
  @include desktop{
    height: 25vh;
  }

  &__background{
    height: 100%;
    background: #dcdcdc;
    position: relative;
    background: url('../images/geometry.jpg');
    background-size: cover;
   
  }
  &__headline{
    width: 60%;
    height: 5rem;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-20%);
    background: #dcdcdc;
   @include desktop{
    width: 30%;
   }
  
  }
  &__content{
    padding: 1rem;
    padding-top: 4rem;
  }
}
.about-header__content{
  height: 50vh;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  @include desktop{
    height: 40vh;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    padding: 5rem 0 5rem 0;
  }

}
.about-page__icons{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include desktop{
    height: 40vh;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
  align-items: flex-start;
  
  }

  .icon-box{
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include desktop{
      width: 45%;
      height: 45%;
      
    }
    img{
      height: 4rem;
      width: 4rem;
      @include desktop{
        height: 4rem;
        width: 4rem;
      }
    }
   .icon-box__headline{
     height: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
  }
}