.footer{
  height: 15vh;
  padding: 1rem;
  width: 100%;
  background: #898181;
  display: flex;
  overflow: hidden;
  &__contact{
    width: 60%;

    img{
      width: 5rem;
      height: 5rem;
    }
  }
  &__icon-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  
  }
}
.footer__fb-icon{
  height: 3rem;
  width: 3rem;
  background-image: url('../images/facebook-logo1.png');
  background-size: contain;
  background-repeat: no-repeat;
}
a[href^="tel:"] {
  color: whitesmoke;
  text-decoration: none;
}
.footer__list{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:nth-child(3){
    background: black;
  }
  li{
    color: whitesmoke;
    
  }
 
}