.divider{
  background-image: url('../images/geometry.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .2;
  overflow: hidden;

}
.gallery{
  height: 50vh;
  overflow: hidden;

}