@import '../styles/media.scss';

.icons{
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  overflow: hidden;
  background: whitesmoke;
  @include phone-landscape{
    height: 80vh;
    
  }
  @include desktop{
    flex-direction: row;
    flex-wrap: wrap;
    height: 110vh;
    background: whitesmoke;
    padding-top: 1rem;
  }

  &__box{
  height: 23%;
  width: 100%;
  display: flex;
  align-items: center;
  @include desktop{
    flex-direction: column;
    height: 45%;
    width: 45%;
  }

  }
}
.icons__img{
  height: 3rem;
  width: 3rem;
  @include desktop{
    height: 5rem;
    width: 5rem;
  }
 
}
.icons__text{
  flex-grow: 1;
  text-align: center;
  @include desktop{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: justify;
    padding-left: 0;
    height: 80%;
  }
  h3{
    font-size: 1rem;
    @include tablet{
      font-size: 1.5rem;
    }
    @include desktop{
      text-align: center;
    } 
  }
  p{
    display: none;
    @include desktop{
      display: block;
      font-size: 1.2rem;
      width: 70%;
      margin: 0 auto;
    }
  }
}
.icons__img--first{
  background: url('../images/map.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.icons__img--second{
  background: url('../images/route.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.icons__img--third{
  background: url('../images/airplane.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.icons__img--fourth{
  background: url('../images/24-hours.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
 
}
.icon__box--2{
  background: white;
}
.icon__box--3{
  background: white;
}