@import '../styles/media.scss';
.information{
  height: 50vh;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include phone-landscape{
    height: 80vh;
  }
  @include tablet{
    height: 40vh;
  } 
}
.information__button{
  width: 7rem;
  height: 3rem;
  @include tablet{
    width: 10rem;
    margin-bottom: 1rem;
  }
}
.information-btn{
  height: 100%;
  width: 100%;
  border: .1rem solid black;
  background: white;
  
}